<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Home-Estu.Master.cs" Inherits="Easy_Enrollment.Home" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">


        .auto-style1 {
            width: 100%;
        }
        .auto-style4 {
            width: 365px;
            height: 290px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
        <div style="font-family: 'Arial Black'; font-size: x-large; font-weight: normal; font-style: normal; font-variant: normal; color: #FFFFFF; text-align: center; word-spacing: normal; background-color: #000080; background-image: none">
            &nbsp;<table class="auto-style1">
                <tr>
                    <td style="background-color: #FFFFFF">
                        <img class="auto-style4" src="images/monsters-university-logo-272139423B-seeklogo.com.png" /></td>
                </tr>
            </table>
            <asp:Button ID="Inicio" runat="server" OnClick="Inicio_Click" Text="Inicio" />
            &nbsp;&nbsp;
            <asp:Button ID="Matricular" runat="server" Text="Matricular" />
&nbsp;&nbsp;
            <asp:Button ID="Historial" runat="server" Text="Historial" />
&nbsp;&nbsp;
            <asp:Button ID="Salir" runat="server" Text="Salir" OnClick="Salir_Click" />
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
        </asp:ContentPlaceHolder>
    </form>
    
        <div>
        </div>
    
</body>
</html>
